.sf-menu {behavior: url(js/PIE.htc); position:absolute;}
.sf-menu li {behavior: url(js/PIE.htc); position:relative;}
.sf-menu li.first {behavior: url(js/PIE.htc); position:relative;}
.sf-menu li.last {behavior: url(js/PIE.htc); position:relative;}

#form-top input {behavior: url(js/PIE.htc); position:relative;}
#form-top a {behavior: url(js/PIE.htc); position:relative;}

time .bgrd {behavior: url(js/PIE.htc); position:relative;}

.quotes {behavior: url(js/PIE.htc); position:relative;}

.box {behavior: url(js/PIE.htc); position:relative;}
.bg-box {behavior: url(js/PIE.htc); position:relative;}
.bg-box-1 {behavior: url(js/PIE.htc); position:relative;}
.bg-box-2 {behavior: url(js/PIE.htc); position:relative;}
.bg-box-3 {behavior: url(js/PIE.htc); position:relative;}
.box-1 {behavior: url(js/PIE.htc); position:relative;}
.box-2 {behavior: url(js/PIE.htc); position:relative;}
.box-3 {behavior: url(js/PIE.htc); position:absolute;}

.button {behavior: url(js/PIE.htc); position:relative;}
.button-1 {behavior: url(js/PIE.htc); position:relative;}
.button-2 {behavior: url(js/PIE.htc); position:relative;}
.button-3 {behavior: url(js/PIE.htc); position:relative;}


#contact-form input[type=text] {behavior: url(js/PIE.htc); position:relative;}
#contact-form textarea {behavior: url(js/PIE.htc); position:relative;}

.tabs li {behavior: url(js/PIE.htc); position:relative;}







